body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


header {
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-image: url('https://images.unsplash.com/photo-1562017971-ad8f1457b739?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGFwcGFydG1lbnR8ZW58MHx8MHx8fDA%3D'); 
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    height: 30px; 
    display: flex;
    color: white; 
}


#search-bar {
    padding: 8px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-button {
    padding: 10px;
    background-color: mediumorchid;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}


.dropdown-content a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}


#listings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}


.listing {
    background-color: white;
    width: 270px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;

}


.listing img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.listing .description {
    padding: 15px;
}
.zero {
    position: absolute;
    left:20%;
    background-color: gray;
}
.one {
    position: absolute;
    left:30%;
    background-color: gray;
}
.two {
    position: absolute;
    left:40%;
    background-color: gray;
}

.three {
    position: absolute;
    left:50%;
    background-color: gray;
}

.four {
    position: absolute;
    left:60%;
    background-color: gray;
}

.five {
    position: absolute;
    left:70%;
    background-color: gray;
}
.details-btn{
    background-color: #4686ca;
}



#name{
    left: 10%;
    color: maroon;
}
#login-icon {
    height: 20px;
    width: 20px;
    left: 22%;
}
.hidden {
    display: none;
}
#contacts-box {
    background-color: #007bff; 
    color: white; 
    padding: 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#contacts-box a {
    color: #ffeb3b; 
    text-decoration: none;
    font-weight: bold;
}

#contacts-box a:hover {
    text-decoration: underline;
}

#review-bar {
    padding: 8px;
    width: 250px;
    border-radius: 5px;
    border: none;
    background-color: rgb(178, 167, 167);
    left: 60%;
}


